# =========================
# Environment variables
# =========================
.env

# =========================
# Logs (ignore runtime logs)
# =========================
logs/
*.log

# Allow sample logs for submission
!sample_logs/
!sample_logs/*.log

# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db